<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>User REGISTER</h1>
	<form action="register" method="POST">
	<label>username :</label>
	<input type="text" name="username"/>
	<br>
	<label>email :</label>
	<input type="text" name="email"/>
	<br>
	<label>password :</label>
	<input type="text" name="password"/>
	<br>
	<label>gender :</label>
	M<input type="radio" name="gender" value="male"/>
	F<input type="radio" name="gender" value="female"/>
	O<input type="radio" name="gender" value="other"/>
	<br>
	<label>role :</label>
	Admin<input type="radio" name="role" value="admin"/>
	Customer<input type="radio" name="role" value="customer"/>
	<br>
	
	<label>address :</label>
	<textarea name="address"></textarea>
	<br>
	<input type="submit"/>

	</form>
	
</body>
</html>